


.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* Makes the table image cover the entire viewport width */
  height: 100%; /* Makes the table image cover the entire viewport height */
  z-index: -1; /* Puts the table image behind other elements */
  opacity: 1; /* Adjust the opacity as needed */
}

.table-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 65vh; /* Makes the table image cover the entire viewport height */
}

.table {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; // Changed to flex-start to keep items at the top
  align-items: center;
  
  &.cards-container {
    flex-direction: row;
    justify-content: center;
    gap: 15px;
  }

  &.card{
    height: 15vh;
  }

  &.pot{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
  }
}

.table-player {
  position: fixed;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  height: 30%;
  justify-content: center;
  

  .money{
    height: 30px;
    top: 0%;
    color: white;
  }
  .cards{
    display: flex;
    justify-content: center; /* Horizontally center the cards */
    align-items: center; /* Vertically center the cards */
    height: 40%;
    bottom: 35%;
    }
   
    .cards img {
      position: absolute; /* Make the cards positioned relative to the .cards container */
    }
    
    .cards img:first-child {
      height: 125%;
      margin: 0 -15px; /* Adjust the negative margin to control the amount of overlap */

      left: 50%; /* Move the first card to the center horizontally */
      transform: translateX(-50%) rotate(-5deg); /* Rotate the first card slightly and center it */
    }
    
    .cards img:last-child {
      margin: 0 -20px; /* Adjust the negative margin to control the amount of overlap */
      height: 125%;
      right: 50%; /* Move the last card to the center horizontally */
      transform: translateX(50%) rotate(5deg); /* Rotate the last card slightly and center it */
    }

  .actions {
     height: 12%; 
      flex-direction: row; 
  }

  &.actions button {
    margin: 0 5px; // Adjust the margin as needed
    background-color: rgb(218, 208, 208);
    border-radius: 5px;
    border: none;
    font-weight: bold;
    width: 35%;
  }

  &.actions button:hover {
    background-color: rgb(250, 247, 247);
  }
}